:root{
    --Orange-color : #FA7436;
    --White-color: #FFFFFF;
    --black-color: #222222;
    

}


*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}
